<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" defaultRedirect="/Home/Error">
      <error statusCode="404" redirect="/Home/Error" />
    </customErrors>

    <!--<authentication mode="Windows" />
    <authorization>
      <deny users="?" />
    </authorization>-->

    <!-- For IIS 6.0/Mono -->
    <httpHandlers>
      <add path="*" type="ServiceStack.HttpHandlerFactory, ServiceStacfk" verb="*"/>
    </httpHandlers>
  </system.web>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <!-- For IIS 7.0+ -->
      <add path="*" name="ServiceStack.Factory"
			   type="ServiceStack.HttpHandlerFactory, ServiceStack"
			   verb="*" preCondition="integratedMode"
			   resourceType="Unspecified" allowPathInfo="true"/>
    </handlers>
  </system.webServer>
  
</configuration>